---
layout: default
---

<div>
	<div class="container--alpha">

		<!-- About -->
		<div class="hero">
			<div class="hero__content">
				<div class="hero__content__intro">
					<div class="bio">
						<h2 class="heading--alpha">Experienced Design Partner for Scaling Your SaaS Product</h2>
							<p>I help companies deliver high quality, user focused products using proven design solutions, helping to scale startup businesses.</p>
					</div>
						<hr>
					<div class="social-proof">
						<h3 class="heading--charlie">Trusted by Founders</h3>
							<div class="quote--alpha">
								<p><span class="quote-mark">“</span>Since partnering with Tim, our weekly sign ups have doubled. This enhancement in user experience has significantly reduced friction points, making it inviting and easier for new users to join, boosting our growth.<span class="quote-mark">”</span></p>
								<div class="client">
									<div class="photo quote-1"></div>
									<div class="client-meta">
										<span class="name">Bill Measom</span>
										<span class="title">Director of ukretreats.co.uk</span>
									</div>
								</div>
							</div>
					</div>
				</div>
				<img class="hero-image" src="images/hero-image.png" alt="Tim speaking at an event">
			</div>
			<div class="logos">
				<ul>
					<li class="client-1">Sky</li>
					<li class="client-2">Sigma 7</li>
					<li class="client-3">SLC</li>
					<li class="client-4">Paid</li>
					<li class="client-5">UKR</li>
					<li class="client-6">APDList</li>
					<li class="client-7">NHS</li>
				</ul>
			</div>	
		</div>
		<!-- /About -->

		<!-- Work -->
		<div id="work" class="row-layout">
			<div class="row-layout-content">
				<div class="row-layout__intro">
					<h2 class="heading--bravo">Client Success Stories</h2>
				</div>

				{% for work_item in site.work_items limit:4 %}
				<div class="case-study {{ work_item.class }}">
					<div class="main">
						<div class="heading">
							<span class="client-logo">
								<img src="{{ work_item.logo }}" alt="" width="{{ work_item.logo-width }}">
							</span>
							<h3>{{ work_item.impact }}</h3>
						</div>
						<div class="services">
							<ul>
								<li>UX Strategy</li>
								<li>UX Research</li>
								<li>UX Design</li>
								<li>UI Design</li>
							</ul>
						</div>
						<a class="button-secondary" href="{{ work_item.permalink }}">View Case Study</a>
					</div>
					<div class="image">
						<img class="sample-image" src="{{ work_item.sample-image }}" alt="" width="578px">
					</div>
				</div>
				{% endfor %}

			</div>
		</div>
		<!-- /Work -->

		<!-- Articles -->
		<div id="articles" class="col-layout articles">
			<div class="col-layout-content">
				<div class="col-layout__intro">
					<h2 class="heading--bravo">Articles</h2>
				</div>
				<div class="col-layout__main">
					<ul class="col-layout__main__list">
						{% for post in site.posts limit:3 %}
			      			{% if post.tags contains 'posts' %}
								<li>
									<a href="{{ post.url }}" class="link-wrap">
										<div class="content">
											<h3 class="heading--charlie">{{ post.title }}</h3>
											<p>{{ post.summary }}</p>
										</div>
										<span class="link internal">View</span>
									</a>
								</li>
							{% endif %}
			      		{% endfor %}
					</ul>
				</div>
			</div>
		</div>
		<!-- /Articles -->

		<!-- Satisfied Clients -->
		<div id="testimonials" class="row-layout client-quotes">
			<div class="row-layout-content">
				<div class="row-layout__intro">
					<h2 class="heading--bravo">Satisfied Clients</h2>
				</div>

				<div class="client-quotes__content">
					<div class="quote--charlie">
						<p><span class="quote-mark">“</span>The quality of Tim's work and his communication with us has always been great, and we have never hesitated to get him involved in a project.<span class="quote-mark">”</span></p>
						<div class="client">
							<div class="photo quote-2"></div>
							<div class="client-meta">
								<span class="name">Rob Walker</span>
								<span class="title">CTO of papertrail.io</span>
							</div>
						</div>
					</div>
					<div class="quote--charlie">
						<p><span class="quote-mark">“</span>Tim ran UX for Paid, and is great at working with clients, running workshops and communicating his ideas to the team. His UX is always on point.<span class="quote-mark">”</span></p>
						<div class="client">
							<div class="photo quote-3"></div>
							<div class="client-meta">
								<span class="name">Tow Howsam</span>
								<span class="title">Founder of paid.co.uk</span>
							</div>
						</div>
					</div>
					<div class="quote--charlie">
						<p><span class="quote-mark">“</span>Tim has a remarkable level of thoughtfulness and empathy in his approach to design. He showcases a strong growth mindset that will benefit any client that is focused on crafting exceptional customer experiences.<span class="quote-mark">”</span></p>
						<div class="client">
							<div class="photo quote-4"></div>
							<div class="client-meta">
								<span class="name">Chris Compston</span>
								<span class="title">Product Ops Leader</span>
							</div>
						</div>
					</div>
					<div class="quote--charlie">
						<p><span class="quote-mark">“</span>Tim has a remarkable level of thoughtfulness and empathy in his approach to design. He showcases a strong growth mindset that will benefit any client that is focused on crafting exceptional customer experiences.<span class="quote-mark">”</span></p>
						<div class="client">
							<div class="photo quote-5"></div>
							<div class="client-meta">
								<span class="name">Lewis Morris</span>
								<span class="title">Founder of middlesbroughfe.co.uk</span>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
		<!-- /Satisfied Clients -->

		<!-- CTA -->
		<div id="lets-talk" class="lower-third lower-cta">
			<div class="lower-third__content">
				<div class="lower-cta__main">
					<div class="copy">
						<h2>Transform your SaaS business with a proven design partner</h2>
							<p>Book your free discovery call today and lets's talk about how I can help you reach your product goals.</p>
						</div>
						<div>
							<a class="button-primary" href="/discovery-call">Let's Talk</a>
						</div>
				</div>
			</div>
		</div>
		<!-- /CTA -->
		
	</div>
</div>
