---
layout: default
title: Projects
---

<div class="mb--double">
	<div class="container--alpha">

		<!-- posts -->
		<div class="pb mb--double">

			<h2 class="mb--double">Projects</h2>

				<!-- projects v3 -->
				<div class="projects grid mb">
					{% for project in site.projects reversed %}
						<div class="projects__item {{ project.title }} {% if project.status == 'soon' %}soon{% endif %}" style="background-image:url({{ project.background-image }}); background-size:{{ project.background-size }}; background-position:{{ project.background-position }};">
							<a class="projects__link" href="{{ project.url }}">
								<h2 class="projects__name">{{ project.title }}</h2>
							</a>
							{% if project.status == 'soon' %}
								<span class="projects__soon">In Progress</span>
							{% endif %}
						</div>
					{% endfor %}
				</div>
				<!-- /projects v3 -->

		</div>
		<!-- /posts -->

	</div>
</div>
