/*----------------------------------------*\
  Defaults
\*----------------------------------------*/

// Typography
$font-primary:     "merriweather", "Helvetica Nueue", Helvetica, sans-serif;
$font-size-base:   17px;
$line-height-base: 32px;

// Spacing
$spacing-base: $line-height-base;
