/*----------------------------------------*\
  Typography
\*----------------------------------------*/

// Headings

h1,
h2,
h3,
h4,
h5,
h6 { margin: 0; }

.heading {}

  .heading--alpha {
    font-weight: 200;
    letter-spacing: 0;
  }

  .heading--bravo {
    font-weight: 600;
    color: #444444;
  }

h2 {
  @extend .mb;
  @extend .heading--bravo;
}


// Paragraphs

p { margin: 0; }

p {
  @extend .mb;
}
