	<div class="footer">
		<div class="footer-content">
			<div class="footer__name">
				<span>© Tim Gale Limited</span>
			</div>
			<div>
				<!-- nav -->
				<div>
					<ul class="list--nav--footer">
						<li class="list--nav--footer__item"><a href="https://youtube.com/@thetimgale">YouTube</a></li>
						<li class="list--nav--footer__item"><a href="https://instagram.com/uiplug">Instagram</a></li>
					{% for item in site.data.menu %}
					<li class="list--nav--footer__item">
						<a class="" href="{{item.link}}">{{item.title}}</a>
						
					</li>
					{% endfor %}
					</ul>
				</div>
				<!-- /nav -->
			</div>
		</div>
	</div>

</div>
<!-- /site -->

<!-- analytics -->
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-73420905-1', 'auto');
  ga('send', 'pageview');

</script>
<!-- analytics -->
