<!-- site -->
<div class="site">

  <header class="site-header">

    <div class="mb--double">

      <div class="container--alpha">
  	
  		<div class="fl">

  	    	<a class="site-title" href="{{ site.baseurl }}/">
  	    		<h1 class="heading--alpha mb--double">{{ site.title }}</h1>
  	    	</a>

        	</div>

        <!-- nav -->
        <ul class="fr list--nav">
        	<li class="list--nav__item mr">
        		<a href="/writing">Writing</a>
        	</li>
          <li class="list--nav__item mr">
            <a href="/speaking">Speaking</a>
          </li>
        	<li class="list--nav__item">
        		<a href="/projects">Projects</a>
        	</li>
        </ul>
        <!-- /nav -->

      </div>

    </div>

  </header>
