<!-- site -->
<div class="site">

  <header class="site-header">

    <div class="mb--double">

      <div class="container--alpha">
  	
  		<div class="fl">

  	    	<a class="site-title" href="{{ site.baseurl }}/">
            <img width="76" class="mr--half avatar" src="/images/avatar_2023.jpg" />
            <div class="fr">
              <h1 class="mb--quarter">Tim Gale</h1>
              <h2>Product Designer</h2>
            </div>
  	    	</a>

        	</div>

        <!-- nav -->
        <ul class="fr list--nav">
          <li class="list--nav__item mr">
            <a href="/">Home</a>
          </li>
        	<li class="list--nav__item mr">
        		<a href="/blog">Blog</a>
        	</li>
          <!-- <li class="list--nav__item mr">
            <a href="/speaking">Speaking</a>
          </li> -->
        	<!-- <li class="list--nav__item">
        		<a href="/projects">Projects</a>
        	</li> -->
        </ul>
        <!-- /nav -->

      </div>

    </div>

  </header>
