<!-- site -->
<div class="site">

  <header class="site-header">

    <div>

      <div class="masthead container--alpha">
  	
  		<div class="masthead-content">

        <!-- name -->
        <div class="masthead__name">
  	    	<a class="site-title" href="{{ site.baseurl }}/">
            <div class="">
              <h1>Tim Gale</h1>
            </div>
  	    	</a>
        </div>
        <!-- /name -->

        <!-- nav -->
        <div class="masthead__nav">
          <ul class="list--nav">
            {% for item in site.data.menu %}
            <li class="list--nav__item">
              <a class="{% if page.url == item.link or page.url contains item.link %}active{% endif %}" href="{{item.link}}">{{item.title}}</a>        
            </li>
            {% endfor %}
          </ul>
        </div>
        <!-- /nav -->

      </div>

      </div>

    </div>

  </header>
