<!-- sidebar -->
		<div class="box--bravo two-tenths">
			<!-- <a href="#"> -->
				<img class="avatar spacing--bravo" src="https://pbs.twimg.com/profile_images/378800000139110534/049c971a71259568c9501fc301b12582.jpeg" alt="me" />
			<!-- </a> -->
			<h1 class="heading--bravo spacing--alpha">Tim Gale</h1>
				<h2 class="heading--charlie spacing--bravo">Designer</h2>
					<ul class="list--alpha">
						<li>
							<a class="list--alpha__item active" href="/">Blog</a>
						</li>
						<li>
							<a class="list--alpha__item" href="about.html">About</a>
						</li>
					</ul>
		</div>
		<!-- /sidebar -->
