/*----------------------------------------*\
  Container
\*----------------------------------------*/

.container--alpha {
//   @extend .cf;
//   max-width: 1280px;
  margin: 0 auto;

  @media (max-width: 700px) {
    // padding: 0 $spacing-base;
  }

  @media only screen and (max-width: 1024px) {
  	// width: 75%;
  }

  @media only screen and (max-width: 800px) {
  	// width: 80%;
  }

}


.container--bravo {
  @extend .container--alpha;
  max-width: 1280px;
  margin: 0 auto;
  padding: 4vw;

  @media (max-width: 700px) {
    padding: 0 $spacing-base;
  }

}

.container--highlight {
	background: rgba(237, 244, 254, 100%);
	padding: $spacing-base;
	border-radius: 8px;

	p {
		color: rgba(42, 55, 71, 100%);
	}

}

.work__item {
	display: inline-block;

	&--image {
		position: relative;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 6%);

		&:after {
			content: "";
			position: absolute;
			z-index: 9;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(76, 85, 103, 20%);
			opacity: 0;
			transition: opacity .5s;
			border-radius: 5px;
		}

		&:hover:after {
			opacity: 100;
		}

	}

	.status-wip {
		&:before {
			content: "Case Study Coming Soon";
			position: absolute;
			z-index: 10;
			right: 0;
			left: 0;
			top: 0;
			bottom: 0;
			margin: auto;
			border-radius: 8px;
			width: 268px;
			height: 24px;
			color: rgba(255, 255, 255, 100%);
			font-weight: 600;
			font-size: 1.25rem;
			text-align: center;
			background: rgba(0, 0, 0, 50%);
			padding: $spacing-base / 2;
			opacity: 0;
			transition: opacity .5s;
		}

		&:hover {

			&:before { opacity: 100; }

		}
	}

}


//test
.work__item--image-link:hover ~ .work__item--description .text-link {
	color: #04317c;
    border-bottom: 1px solid #a2aebf;

	&:after {
		right: -6px;
		transition: right .5s;
	}

}

.work__item--image img {
	display: block;
	max-width: 100%;
}

.work__item--description {

	h2 {
		font-size: 1.5rem;
	}

	p {
		margin-top: 0;
		font-size: 1.15rem;
	}

	a {
		font-size: 1.15rem;
	}

}

.project__item {
	background-color: rgba(237, 244, 254, 100%);
	// border: 1px solid rgba(162, 174, 191, 100%);
	padding: $spacing-base;
	border-radius: 8px;

	@media only screen and (max-width: 700px) {
		margin-bottom: $spacing-base;
	}

	.grid-item:nth-child(2) {
		display: none;
	}

}

.project__item--image {
	width: 120px;
	
	a {
		transition: none;
	}

	a:hover {
		border-bottom: none;
	}

	img {
		max-width: 100%;
		box-shadow: 0 4px 6px rgba(0, 0, 0, 6%);
	}

	@media only screen and (max-width: 700px) {
		float: left;
	}

}

.project__item--description {

	h2 {
		margin-top: 0;
		padding: 0;
		font-size: 1.5rem;
		font-weight: 700;
		line-height: 1em;
	}

	p {
		font-size: 1.15rem;
		line-height: 1.25em;
		margin-top: 0;

		@media only screen and (max-width: 700px) {
			margin-bottom: $spacing-base;
		}

	}

	a {
		font-size: 1.15rem;
	}

}

.articles {
	padding: 140px 0;
	border-top: 1px solid #EBEBEB;
}

.latest-blog-post {
	padding: 64px 0;
	border-top: 1px solid rgba(238, 242, 247, 100%);
	border-bottom: 1px solid rgba(238, 242, 247, 100%);
}

.blog__post {

	&--meta {
		padding-top: $spacing-base;

		h2 {
			color: rgba(27, 32, 43, 100%);
			font-size: 1.5rem;
		}

		&:hover .blog__post--image {
			opacity: 100%;
		}

	}

	&--image {
		display: block;
		width: 400px;
		opacity: 60%;

		a {
			transition: none;

			&:hover {
				border-bottom: none;
			}

		}

		img {
			max-width: 100%;
			// opacity: 60%;
			border-radius: 8px;
		}

		@media only screen and (max-width: 700px) {
			display: none;
		}

	}

}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	column-gap: 4%;

	@media only screen and (max-width: 700px) {
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}

}

.grid-item {
	align-self: stretch;
}

.grid-container--latest-blog-post {
	display: grid;
	grid-template-columns: 1fr 400px;
	grid-template-rows: 1fr;
	column-gap: 4%;

	@media only screen and (max-width: 700px) {
		grid-template-columns: 1fr;
	}
}

.grid-container--section-heading {
	display: grid;
	grid-template-columns: 1fr 300px;
	grid-template-rows: 100px;

	@media only screen and (max-width: 700px) {
		grid-template-columns: 1fr;

		.grid-item:nth-child(2) {
			display: none;
		}

	}

}

// Masthead

.masthead {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #FFFFFF;
	border-bottom: 1px solid #EBEBEB;
	padding: 20px 0 0 0;
	z-index: 9999;
	box-sizing: border-box;
	justify-content: space-between;

	@media only screen and (max-width: 700px) {
		padding: 20px 0;
	}

}

.masthead-content {
	display: flex;
	max-width: 1280px;
	padding: 0 4vw;
	margin: 0 auto;
	align-items: baseline;

	@media only screen and (max-width: 700px) {
		padding: 4vw 6vw;

	}

	div {
		// width: 100%;
	}

	.masthead__name {
		flex: 2;
	}

}

// Site Title

.site-title {
	transition: none;

	span {
		display: inline-block;
		text-indent: 100%;
		overflow: hidden;
		background-size: cover;
		height: 50px;
		width: 144px;
		background-image: url(../images/timgaledesign.svg);
	}

	h1 {
		@extend .heading--charlie;
	}

	h2 {
		font-weight: 500;
		font-size: 1.25rem;
		color: rgba(115, 128, 148, 100%);
		margin: 0;
	}

	@media only screen and (max-width: 700px) {
		display: block;
		// margin-bottom: $spacing-base;
		line-height: 0;

		img {}

		div {
			display: inline-block;
			vertical-align: top;
		}

	}

	&:hover {
		border-bottom: none;
	}

}

// Social Links

.social-links {
	list-style-type: none;
	text-align: center;
	padding: 0;

	.social-link {
		display: inline-block;
		margin-right: $spacing-base;

		&:last-of-type {
			margin-right: 0;
		}

	}

}

// Social Proof

.quote--alpha {
	// width: 640px;
	padding-left: 28px;
	border-left: 1px solid #CCC;

	p {
		leading-trim: both;
		text-edge: cap;
		margin: 0 0 24px 0;
	}

	span {
		font-size: 1.3rem;
		color: #6F7785;
	}

	.client {
		display: flex;
		align-items: center;
		gap: 16px;
	}

	.client-meta {
		display: flex;
		flex-direction: column;
		gap: 4px;

		.name {
			color: #4A5568;
			font-family: "DM Sans";
			font-size: 16px;
			font-style: normal;
			font-weight: 700;
			line-height: 20px; /* 125% */
		}

		.title {
			color: #4A5568;
			font-family: "DM Sans";
			font-size: 16px;
			font-style: normal;
			font-weight: 400;
			line-height: 20px; /* 125% */
		}

	}

	.photo {
		width: 40px;				
		height: 40px;
		background-size: 40px;
		border-radius: 100%;
		border: 1px solid #EBEBEB;
	}

	.photo.quote-1 { background-image: url(../images/customer-bill.jpg); }
	.photo.quote-2 { background-image: url(../images/customer-rob.jpg); }
	.photo.quote-3 { background-image: url(../images/customer-tom.jpg); }
	.photo.quote-4 { background-image: url(../images/customer-chris.jpg); }
	.photo.quote-5 { background-image: url(../images/customer-lewis.jpg); }
	.photo.quote-6 { background-image: url(../images/customer-joe.jpg); }

}

.client-quotes {
	padding: 140px 0;
	border-top: 1px solid #EBEBEB;

	.client-quotes__content {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 120px;

		@media (max-width: 960px) {
			flex-direction: column;
			gap: 80px;
		}

	}

}

.quote--bravo {
	display: flex;
	flex-direction: column;
	gap: 4px;

	.quote-logo {
		display: inline-block;
		text-indent: 100%;
		overflow: hidden;
		background-size: cover;
		height: 28px;
		width: 114px;
	}

	.quote-logo.client-1 { background-image: url('../images/logo-quote-papertrail.png'); }
	.quote-logo.client-2 { background-image: url('../images/logo-quote-paid.png'); }

	span {
		font-size: 1.3rem;
		color: #6F7785;
	}

}

.quote--charlie {
	@extend .quote--alpha;
	width: 520px;
	padding-left: 0;
	border: none;

	@media only screen and (max-width: 700px) {
		width: 100%;
	}

}

.quote-mark {
	font-family: "DM Serif Display";
}

// Hero

.hero {
	width: 100%;
	padding: 200px 0 140px 0;
	border-bottom: 1px solid #EBEBEB;

	@media only screen and (max-width: 800px) {
		padding: 100px 0 70px 0;
	}

	.hero__content {
		display: flex;
		align-items: center;
		gap: 120px;
		max-width: 1280px;
		padding: 0 4vw;
		margin: 0 auto;

		@media only screen and (max-width: 960px) {
			flex-direction: column-reverse;
		}

		@media only screen and (max-width: 680px) {
			gap: 60px;
			padding: 0 6vw;
		}

	}

	.hero__content__intro {
		display: flex;
		flex-direction: column;
		gap: 52px;

		.bio {
			display: flex;
			flex-direction: column;
			gap: 12px;

			p {
				margin-bottom: 0;
			}

		}

		.social-proof {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

	}

	.hero-image {
		width: 356px;

		@media only screen and (max-width: 960px) {
			height: 360px;
			object-fit: cover;
			object-position: 100% 0;
			border-radius: 8px;
		}

		@media only screen and (max-width: 400px) {
			width: 90%;
			height: 300px;
			object-fit: cover;
			object-position: 100% 0;
			border-radius: 8px;
		}

	}

	.logos {
		width: 100%;
		margin: 120px 0 0 0;
		
		ul { 
			display: flex;
			margin: 0 auto;
			gap: 44px;
			justify-content: center;
			padding: 0;

			@media only screen and (max-width: 1100px) {
				gap: 44px;
			}

			@media only screen and (max-width: 1100px) {
				flex-wrap: wrap;
			}

			li {
				list-style-type: none;
				text-indent: 100%;
				overflow: hidden;
				background-size: cover;
				height: 50px;
				width: 144px;
			}

			li.client-1 { background-image: url('../images/logo-sky.png') }
			li.client-2 { background-image: url('../images/logo-sigma7.png') }
			li.client-3 { background-image: url('../images/logo-slc.png') }
			li.client-4 { background-image: url('../images/logo-ukretreats.png') }
			li.client-5 { background-image: url('../images/logo-paid.png') }
			li.client-6 { background-image: url('../images/logo-adplist.png') }
			li.client-7 { background-image: url('../images/logo-nhs.png') }

		}

	}

}

.hero--book-call { border-bottom: none; }

// Row Layout

.row-layout.single-page {
	padding: 0;
}

.row-layout {
	width: 100%;
	padding: 140px 0;

	@media (max-width: 960px) {
		padding: 80px 0;
	}

	.row-layout-content {
		display: flex;
		flex-direction: column;
		gap: 84px;
		max-width: 1280px;
		padding: 0 4vw;
		margin: 0 auto;

		@media only screen and (max-width: 680px) {
			padding: 0 6vw;
		}

	}

	.row-layout-content.center {
		align-items: center;
		gap: 20px;
	}

	.row-layout__intro {}

	.row-layout__main {}
	
}

.row-layout__main__list {
	display: flex;
	flex-wrap: wrap;
	gap: 100px 40px;
	list-style-type: none;
	margin: 0;
	padding: 0;

	@media (max-width: 960px) {
		flex-direction: column;
	}

	li {
		position: relative;
		// width: 100%;
		width: 400px;
		display: flex;
		flex-direction: column;
		gap: 28px;

		@media (max-width: 960px) {
			width: 100%;
		}

		.link-wrap {
			display: flex;
			flex-direction: column;
			gap: 28px;
			border-bottom: none;
			transition: all 0.5s ease;

			&:hover {
				
				.link {
					background-position: -60% 50%;
				}
				
			}

		}

		.content {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}

		h3 {
			margin: 0;
		}

		p {
			margin: 0;
		}

		.work-preview-image {
			position: relative;
			// display: flex;
			// justify-content: center;
			// align-items: center;
			width: 100%;
			// height: 360px;
			border-radius: 8px;
			background-color: #F5F5F5;
			overflow: hidden;

			&:hover .hover {
				opacity: 1;
			}

			&:hover .default {
				opacity: 0;
			}

			.image-container {
				margin: 0 auto;
				padding: 2vw 2vw 0 2vw;
				line-height: 0;

				@media (max-width: 960px) {
					padding: 6vw 6vw 0 6vw;
				}
			}

			img {
				// position: absolute;
				// top: 20%;
				// left: 10%;
				width: 100%;
				border-radius: 6px 6px 0 0;
				// box-shadow: 0 0.7961918735236395px 0.7961918735236395px -0.6875px #00000024, 0 2.414506143104518px 2.414506143104518px -1.375px #0002, 0 6.382653521484461px 6.382653521484461px -2.0625px #00000021, 0 20px 20px -2.75px #0000001d;
				box-shadow: 0 4px 6px rgba(0, 0, 0, 6%);
			}

			.default {

			}

			.hover {
				position: absolute;
				object-fit: contain;
				opacity: 0;
				transition: opacity .2s;
				z-index: 1;
				top: 0;
				left: 0;
			}
		}

		.link {
			position: absolute;
			bottom: 0;
			right: 0;
			z-index: 9;
			text-indent: 100%;
			overflow: hidden;
			width: 44px;
			height: 44px;	
			border-radius: 6px 0 6px 0;
			padding: 0;
			border-bottom: none;
			display: inline-block;
			transition: all 0.5s ease;

			// &:before {
			// 	content: "";
			// 	position: absolute;
			// 	background-color: #0000FF;
			// 	width: 25px;
			// 	height: 50px;
			// 	bottom: -50px;
			// 	left: 0;
			// 	border-bottom-left-radius: 6px;
			// 	box-shadow: 0 -25px 0 0 #001f3f;
			// }
			
		}

		.link.external { background: url('../images/icon-arrow-right-up-double.svg') no-repeat 160% 50% #FFFFFF; }
		.link.internal { background: url('../images/icon-arrow-right-double.svg') no-repeat 160% 50% #FFFFFF; }

	}

}

// Col Layout

.col-layout.single-page {
	padding: 0;
}

.col-layout {
	width: 100%;
	padding: 140px 0;

	@media (max-width: 960px) {
		padding: 80px 0;
	}

	.col-layout-content {
		display: flex;
		gap: 200px;
		max-width: 1280px;
		padding: 0 4vw;
		margin: 0 auto;

		@media (max-width: 960px) {
			flex-direction: column;
			gap: 60px;
		}

		@media only screen and (max-width: 680px) {
			padding: 0 6vw;
		}

	}

	.col-layout__intro {
		width: 328px;
	}

	.col-layout__main {
		flex: 2;
	}

}

.col-layout__main__list {
	display: flex;
	flex-direction: column;
	list-style-type: none;
	padding: 0;
	margin: 0;

	li {
		display: flex;
		flex-direction: row;
		align-items: center;
		border-bottom: 1px solid #E0E0E0;
		margin: 0;

		&:first-child {
			border-top: 1px solid #E0E0E0;
		}

		.link-wrap {
			display: flex;
			align-items: center;
			gap: 96px;
			width: 100%;
			border-bottom: none;
			padding: 28px 0;
			transition: all 0.5s ease;

			@media (max-width: 960px) {
				flex-direction: column;
				align-items: start;
				gap: 24px;
			}

			&:hover {
				padding-right: 8px;

				@media (max-width: 960px) {
					padding-right: 0;
				}

				.content {
					padding-left: 8px;

					@media (max-width: 960px) {
						padding-left: 0;
					}

				}
				
				.link {
					background-position: -60% 50%;
				}
				
			}

		}

		.content {
			display: flex;
			flex-direction: row;
			gap: 36px;
			align-items: center;
			flex: 2;
			transition: all 0.5s ease;

			@media only screen and (max-width: 700px) {
				flex-direction: column;
				justify-content: start;
				align-items: start;
			}

		}

		.content-text {

		}

		h3 {
			margin: 0;
		}

		p {
			margin: 0;
		}

		a {}

		.link {
			text-indent: 100%;
			overflow: hidden;
			width: 44px;
			height: 44px;	
			border-radius: 6px;
			padding: 0;
			border-bottom: none;
			display: inline-block;
			transition: all 0.5s ease;
		}

		.link.external { background: url('../images/icon-arrow-right-up-double.svg') no-repeat 160% 50% #F5F5F5; }
		.link.internal { background: url('../images/icon-arrow-right-double.svg') no-repeat 160% 50% #F5F5F5; }

	}

}

// Footer

.footer {
	width: 100%;
	padding: 20px 0;
	border-top: 1px solid #EBEBEB;

	.footer-content {
		display: flex;
		max-width: 1280px;
		padding: 0 4vw;
		margin: 0 auto;
		align-items: center;

		@media (max-width: 960px) {
			flex-direction: column-reverse;
			align-items: start;
			gap: 20px;
		}

		.footer__name {
			flex: 2;

			span {
				font-size: 1.125rem;
				font-weight: 400;
				letter-spacing: -0.2px;
				color: #4A5568;
			}

		}

		.list--nav--footer {
			display: flex;
			gap: 44px;
			padding: 0;
			margin: 0;

			@media (max-width: 960px) {
				flex-direction: column;
				gap: 12px;
			}

		}

		.list--nav--footer__item {
			list-style-type: none;
			font-size: 1.125rem;

			a {
				color: #4A5568; 
			}

		}

	}

}

// Single Content

.single-content {
	width: 100%;
	padding: 140px 0 140px 0;

	.row-layout {
		padding-bottom: 0;
	}

}

// Breadcrumb

.breadcrumb {
	margin: 0 auto 88px auto;
	display: flex;
	gap: 8px;
	font-size: 1.25rem;
	max-width: 800px;
	width: 90%;

	.previous,
	.divider {
		color: #4A5568;
	}

	.divider {
		
	}

}

// Lower Third

.lower-third {
	padding: 140px 0;
	border-top: 1px solid #EBEBEB;
	
	.lower-third__content {
		max-width: 1280px;
		padding: 0 4vw;
		margin: 0 auto;
		display: flex;
		flex-direction: column;
		gap: 140px;

		@media (max-width: 960px) {
			gap: 80px;
		}

		@media only screen and (max-width: 680px) {
			padding: 0 6vw;
		}

	}

	.download-cta {
		display: flex;
		flex-direction: column;
		gap: 20px;
		background-color: #F5F5F5;
		padding: 40px;
		border-radius: 8px;

		h3 {
			margin: 0;
		}

		p {
			margin: 0;
		}
		
	}

}

// Lead Magnet A

.hero-lm-a {
	text-align: center;
	padding-top: 0;

	.row-layout {
		width: 100%;
		padding: 100px 0;

		@media (max-width: 700px) {
			padding: 60px 0;
		}

	}

	h1 {
		font-family: "DM Sans", sans-serif;
		letter-spacing: 0.15px;
		font-weight: 800;
	}

	mark.highlight {
		background: linear-gradient(180deg, rgba(255, 255, 255, 0.00) 0%, rgba(255, 255, 255, 0.00) 67.5%, rgba(153, 153, 153, 0.28) 67.5%, rgba(153, 153, 153, 0.28) 100%);
		color: #ffffff;
	}

	p {
		font-family: "DM Sans", sans-serif;
		letter-spacing: 0px;
		font-weight: 400;
		margin-bottom: 40px;
	}

	.heading--charlie {
		font-family: "DM Sans";
		font-size: 1.75rem;
		font-weight: 700;
		margin-bottom: 0;
	}

	.top {
		background: linear-gradient(124deg, #072525 0%, #110110 66%, #280125 97.5%);
		padding-bottom: 240px;

		@media (max-width: 700px) {
			padding-bottom: 160px;
		}

		.hero__content {
			padding: 0;
		}

	}

	.hero-proof {
		display: flex;
		align-items: center;
		gap: 12px;

		@media (max-width: 700px) {
			flex-direction: column;
		}

		.photos {
			display: inline-flex;
			flex-direction: row-reverse;

			.proof-photo {
				width: 32px;				
				height: 32px;
				background-size: 32px;
				border-radius: 100%;
				border: 4px solid #0F0C16;
				background-repeat: no-repeat;
			}

			.proof-photo:not(:last-child) {
				margin-left: -16px;
			}

			.proof-photo-1 { background-image: url(../images/customer-nate.jpg); }
			.proof-photo-2 { background-image: url(../images/customer-kate.jpg); }
			.proof-photo-3 { background-image: url(../images/customer-aniket.jpg); }
			.proof-photo-4 { background-image: url(../images/customer-kailash.jpg); }
			.proof-photo-5 { background-image: url(../images/customer-jadene.jpg); }

		}

		.rating {
			background-image: url(../images/star.svg);
			width: 70px;
			height: 16px;
			background-repeat: repeat-x;
		}

		.proof-text {
			font-family: "DM Sans", sans-serif;
			color: #DBD3DB;
			text-align: left;

			@media (max-width: 700px) {
				text-align: center;
			}

		}

	}

	.image-container {
		position: relative;
		width: 740px;
		margin: 0 auto;
		height: 100%;
		display: flex;
		align-items: center;
		justify-content: center;

		@media (max-width: 700px) {
			transform: scale(0.8);
			width: auto;
		}

		.image {
			position: absolute;
			top: -240px;
			z-index: 10;
			// background: #cccccc;
			width: 100%;
			height: 500px;
			background-image: url(../images/book-image-2x.png);
			background-size: 100%;
			background-repeat: no-repeat;
			background-position-x: 50%;

			@media (max-width: 700px) {
				background-image: url('../images/book-image-small.png');
				background-position-x: 100%;
				width: 100%;
				margin-top: 0;
			}

		}

		.image-page-1 {
			position: absolute;
			// top: 50%;
			left: 0px;
			z-index: 9;
			width: 302px;
			height: 400px;
			background-image: url(../images/book-page-1.png);

			@media (max-width: 700px) { transform: scale(0.6); }

		}

		.image-page-2 {
			position: absolute;
			// top: 50%;
			// left: 0px;
			z-index: 9;
			width: 312px;
			height: 400px;
			background-image: url(../images/book-page-2.png);

			@media (max-width: 700px) {  }

		}

		.image-page-3 {
			position: absolute;
			// top: 50%;
			left: 0px;
			z-index: 8;
			width: 250px;
			height: 320px;
			background-image: url(../images/book-page-3.png);

			@media (max-width: 700px) { display: none; }

		}

		.image-page-4 {
			position: absolute;
			// top: 50%;
			left: 0px;
			z-index: 8;
			width: 250px;
			height: 320px;
			background-image: url(../images/book-page-4.png);

			@media (max-width: 700px) { display: none; }

		}

	}

	.middle {
		margin-top: 280px;
		background-image: url(../images/background-shape.png), url(../images/background-shape.png);
		background-position-x: -1180px, 1180px;
		background-position-y: 0, 1500px;
		background-repeat: no-repeat;

		@media (max-width: 700px) {
			margin: 0 6vw;
		}
	
	
		.section {
			padding-bottom: 60px;

			.content {
				flex-direction: column;
				align-items: center;
				gap: 68px;
				padding: 0 4vw;
			}

			.section-header {
				display: flex;
				flex-direction: column;
				gap: 24px;
			}
			
			.description {
				margin: 0;
				max-width: 600px;
			}

			.body-text {
				text-align: left;
			}

			.col-align-center {
				align-items: center;
			}

			.logos ul {
				flex-wrap: wrap;
			}

		}

	}

	.hero__content {
		max-width: 1220px;

		h1 {
			margin: 0;
			color: #ffffff;
		}

		p {
			max-width: 600px;
			color: #DBD3DB;
		}

	}

}

.booking-hero-top {
	margin-bottom: 60px;
	display: flex;
	gap: 20px;
	flex-direction: column;

	h2 {
		text-transform: capitalize;
	}

	.intro-image {
		background-image: url('../images/tim-photo-small.png');
		background-size: 120px;
		width: 120px;
		height: 120px;
	}

}

.testimonials {
	// padding: 0;

	@media (max-width: 700px) {
		padding-top: 300px;
	}
		
	.col-layout-content {
		gap: 32px;
		padding: 0;
	}

}

.testimonials-single {

	.testimonial {
		width: 500px;

		@media (max-width: 700px) {
			width: 80%;
		}

	}

	@media (max-width: 700px) {
		padding-top: 80px;
		padding-bottom: 0;
	}
		
	.col-layout-content {
		justify-content: center;
		gap: 32px;
		padding: 0;
	}

}

.value {
	// padding: 0;
		
	.col-layout-content {
		gap: 60px;
		padding: 0;
		flex-wrap: wrap;
		flex-direction: row;
		align-items: center;
		justify-content: center;

		@media (max-width: 1024px) {
			
	  	}

	}

	.value-item {
		// width: 26.6%;
		display: flex;
		flex-direction: column;
		gap: 20px;
		text-align: left;
		border-radius: 8px;
		// background: #F5F5F5;
		padding: 32px;

		@media (max-width: 800px) {
			width: auto;
			padding: 0;
		}

		@media (min-width: 800px) {
			width: 46.6%;
			padding: 0;
		}

		@media (min-width: 1280px) {
			width: 30%;
			padding: 0;
		}

		.name {
			display: flex;
			flex-direction: column;
			gap: 20px;

			h3 {
				margin: 0;
				font-size: 1.2rem;
			}
	
			p {
				margin: 0;
				font-size: 1rem;
				line-height: 28px;
			}

		}

		.icon {
			width: 44px;
			height: 44px;
			border: 1px solid #CCCCCC;
			background-color: #FFFFFF;
			box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06), 0px 8px 16px 0px rgba(0, 0, 0, 0.01);
			border: 1px solid #E6E6E6;
			border-radius: 8px;
			background-repeat: no-repeat;
			background-position: 50%;
		}

	}

	.value-item-1 .icon { background-image: url('../images/icons/icon-chat-alt.svg'); }
	.value-item-2 .icon { background-image: url('../images/icons/icon-verified.svg'); }
	.value-item-3 .icon { background-image: url('../images/icons/icon-users.svg'); }
	.value-item-4 .icon { background-image: url('../images/icons/icon-search.svg'); }
	.value-item-5 .icon { background-image: url('../images/icons/icon-star.svg'); }
	.value-item-6 .icon { background-image: url('../images/icons/icon-lightning-bolt.svg'); }

}

.testimonial {
	display: flex;
	flex-direction: column;
	gap: 16px;
	// width: 100%;
	text-align: left;
	border-radius: 8px;
	border: 1px solid #E6E6E6;
	background: #FFF;
	box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06), 0px 8px 16px 0px rgba(0, 0, 0, 0.01);
	padding: 32px;
	width: 100%;
	height: 100%;

	@media (max-width: 1024px) {
		width: auto;
	}

	.rating {
		background-image: url(../images/star.svg);
		width: 70px;
		height: 16px;
		background-repeat: repeat-x;
	}

	.person {
		display: flex;
		gap: 16px;
		align-items: center;

		.photo {
			width: 40px;				
			height: 40px;
			background-size: 40px;
			border-radius: 100%;
		}

		div {
			display: flex;
			flex-direction: column;
			gap: 4px;
		}

		h3 {
			margin: 0;
			font-size: 1rem;
		}

		span {
			font-size: 0.9rem;
		}

	}

	p {
		margin: 0;
		font-size: 1rem;
		line-height: 28px;
	}

}

.testimonial-1 .photo { background-image: url(../images/customer-artur.jpg); }
.testimonial-2 .photo { background-image: url(../images/customer-jadene.jpg); }
.testimonial-3 .photo { background-image: url(../images/customer-kailash.jpg); }
.testimonial-4 .photo { background-image: url(../images/customer-aniket.jpg); }
.testimonial-5 .photo { background-image: url(../images/customer-nate.jpg); }
.testimonial-6 .photo { background-image: url(../images/customer-bill.jpg); }

.teacher-container {
	display: flex;
	gap: 100px;

	@media (max-width: 700px) {
		flex-direction: column;
		gap: 0;
	}

	> img {
		transform: scaleX(-1);
	}

	.hero-image {
		@media (max-width: 700px) {
			width: 100%;
		}
	}

}

.col-layout .col-layout-content.teacher {
	max-width: 1180px;
	padding: 0;
}

.teacher-content {
	margin-top: 52px;
	display: flex;
    flex-direction: column;
    gap: 28px;

	p {
		font-size: 1.3rem;

		@media (max-width: 700px) {
			font-size: 1rem;
		}

	}

	p:last-of-type {
		margin-bottom: 20px;
	}

	h4 {
		font-size: 1.2rem;
		font-family: "DM Sans", sans-serif;
		margin: 20px 0 0 0;
	}

	.proof {
		display: flex;
		flex-direction: column;
		gap: 32px;
	}

	.logos {
		margin-top: 0;

		ul {
			gap: 52px;
			justify-content: start;
			margin: 0;

			@media (max-width: 700px) {
				// justify-content: center;
			}

			li {
				background-size: 75%;
				background-repeat: no-repeat;
				height: 40px;
			}

			li.client-1 { background-image: url('../images/logo-sky-dark.png'); background-size: 55px 40px; width: 55px; }
			li.client-2 { background-image: url('../images/logo-s7-dark.png'); background-size: 96px 40px; width: 96px; }
			li.client-3 { background-image: url('../images/logo-ukr-dark.png'); background-size: 115px 40px; width: 115px; }
			li.client-4 { background-image: url('../images/logo-paid-dark.png'); background-size: 64px 40px; width: 64px; }
			li.client-5 { background-image: url('../images/logo-nhs-dark.png'); background-size: 63px 40px; width: 63px; }

		}

	}

}

.footer-cta {
	margin-top: 80px;
	
	.section{
		position: relative;
	}

	.content {
		display: block;

		@media (max-width: 700px) {
			padding: 0;
		}

	}

	.footer-cta-inner {
		display: flex;
		position: relative;
		flex-direction: row;
		gap: 12px;
		text-align: left;
		border-radius: 8px;
		border: 1px solid #E6E6E6;
		background: linear-gradient(124deg, #072525 0%, #110110 66%, #280125 97.5%);
		box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.06), 0px 8px 16px 0px rgba(0, 0, 0, 0.01);
		// padding: 32px;

		@media (max-width: 700px) {
			border-radius: 8px;
		}

		@media (max-width: 1280px) {
			flex-direction: column;
			border-radius: 8px;
		}

	}

	.footer-cta-inner-content {
		padding: 32px;
		flex-grow: 0;
		flex-shrink: 0;
		width: 60%;
		display: flex;
		flex-direction: column;

		@media (max-width: 1280px) {
			width: auto;
		}

		p {
			margin-top: 32px;
		}

	}

	.image-container {
		position: absolute;
		width: 394px;
		height: 440px;
		bottom: 0;
		right: 32px;

		@media (max-width: 700px) {
			transform: scale(1);
		}

		@media (max-width: 1280px) {
			position: relative;
			width: 100%;
			overflow: hidden;
			right: 0;
		}		

		.image {
			position: absolute;
			top: 0;
			left: 0;
			background-image: url('../images/book-image-cover-2x.png');
			background-position: 0 0;
			background-repeat: no-repeat;
			width: 394px;
			height: 440px;

			@media (max-width: 1280px) {
				position: relative;
				top: 0;
				left: 0;
				// width: 100%;
				background-position-x: 60%;
			}

		}

	}

	h3 {
		font-family: "DM Sans", sans-serif;
		margin: 0;
		color: #FFFFFF;
	}

	p {
		color: rgba(255, 255, 255, 0.8);
	}

}

.eyebrow {
	display: inline-block;
	background: rgba(238, 231, 238, 0.60);
	backdrop-filter: blur(12px);
	border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 360px;
    padding: 4px 16px;
	font-size: 0.9rem;
	line-height: 20px;
}

.eyebrow-hero {
	margin-bottom: 20px;
	background-color: rgba(255, 255, 255, 0.1);
	border: 1px solid rgba(255, 255, 255, 0.05);
	color: #DBD3DB;
}

//animation definition
@keyframes page-1-enter {
	0% {
		transform: translate(50%);
	}
	100% {
		transform: translate(25%);
	}
}

@keyframes page-1-enter-small {
	0% {
		transform: translate(0%);
	}
	100% {
		transform: translate(-10%);
	}
}

@keyframes page-2-enter {
	0% {
		transform: translate(25%);
	}
	100% {
		transform: translate(40%);
	}
}

@keyframes page-2-enter-small {
	0% {
		transform: translate(0%);
	}
	100% {
		transform: translate(-30%);
	}
}

@keyframes page-3-enter {
	0% {
		transform: translate(60%);
	}
	100% {
		transform: translate(10%);
	}
}

@keyframes page-4-enter {
	0% {
		transform: translate(140%);
	}
	100% {
		transform: translate(180%);
	}
}

// animation
@media (prefers-reduced-motion: no-preference) {
	.image-page-1-animation {
	  animation-name: page-1-enter;
	  animation-duration: 1s;
	  animation-iteration-count: 1;
	  animation-fill-mode: both;

		@media (max-width: 700px) {
			animation-name: page-1-enter-small;
	  	}

	}
}

@media (prefers-reduced-motion: no-preference) {
	.image-page-2-animation {
	  animation-name: page-2-enter;
	  animation-duration: 1s;
	  animation-iteration-count: 1;
	  animation-fill-mode: both;

	  @media (max-width: 700px) {
		animation-name: page-2-enter-small;
	  }

	}
}

@media (prefers-reduced-motion: no-preference) {
	.image-page-3-animation {
	  animation-name: page-3-enter;
	  animation-duration: 1s;
	  animation-iteration-count: 1;
	  animation-delay: .15s;
	  animation-fill-mode: both;
	}
}

@media (prefers-reduced-motion: no-preference) {
	.image-page-4-animation {
	  animation-name: page-4-enter;
	  animation-duration: 1s;
	  animation-iteration-count: 1;
	  animation-delay: .15s;
	  animation-fill-mode: both;
	}
}

/* Case Study Previews */

.case-study {
	display: flex;
	align-items: flex-start;
	gap: 36px;
	align-self: stretch;
	border-radius: 8px;
	padding: 40px;

	@media only screen and (max-width: 700px) {
		flex-direction: column;
		gap: 56px;
	}

	.main {
		display: flex;
		flex-direction: column;
		align-items: flex-start;
		gap: 36px;
		align-self: stretch;

		.heading {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 28px;
			align-self: stretch;

			h3 {
				color: #1A202C;
				font-family: "DM Sans";
				font-size: 28px;
				font-style: normal;
				font-weight: 700;
				line-height: 38px; /* 135.714% */
				letter-spacing: -0.48px;
				text-transform: capitalize;
				margin: 0;
			}
		}

		.services {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
			gap: 16px;

			ul {
				margin: 0;
				padding: 0;
				list-style-type: none;

				li {
					color: #333A48;
					font-family: "DM Sans";
					font-size: 20px;
					font-style: normal;
					font-weight: 400;
					line-height: 28px; /* 140% */
					letter-spacing: -0.2px;
					position: relative;
					padding: 0 0 16px 36px;
				
				&:before {
					content: "";
					position: absolute;
					display: inline-block;
					left: 0;
					background-image: url('../images/icons/icon-arrow-right-square.svg');
					width: 24px;
					height: 24px;
				}

				}

			}
		}

	}

	.image {

		.sample-image {

			@media only screen and (max-width: 700px) {
				width: 100%;
			}

		}

	}

}

.case-study.sky { background: #F2F2F2; }
.case-study.paid { background: #F3F3F7; }
.case-study.uk-retreats { background-image: url(../images/sample-image-ukretreats-base.svg); background-color: #FDFBF7; }
.case-study.carbon { background: #FFFFFF; border: 1px solid #F5F5F5; }

.lower-cta__main {
	width: 60%;
	display: flex;
	flex-direction: column;
	gap: 24px;

	@media only screen and (max-width: 700px) {
		width: 100%;
	}

	.copy {

	}

	h2 {
		color: #1A202C;
		font-family: "DM Sans";
		font-size: 40px;
		font-style: normal;
		font-weight: 700;
		line-height: 52px; /* 140% */
		letter-spacing: -0.25px;
		text-transform: capitalize;
	}
}

/* Buttons */

a.button-secondary {
	display: inline-block;
	color: #595F6A;
	font-family: "DM Sans";
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; /* 111.111% */
	letter-spacing: -0.18px;
	padding: 16px 52px 16px 20px;
	align-items: center;
	border-radius: 6px;
	border: 1px solid #808195;
	background: url(../images/icons/icon-arrow-right-small.svg) no-repeat 90% 50%;

	&:hover {
		background-position: 92% 50%;
		background-color: rgba(0, 0, 0, 0.04);
	}

}

a.button-primary {
	display: inline-block;
	color: #F4F4F5;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	border: none;
	border-radius: 6px;
	padding: 16px 48px 16px 20px;
	background-color: #0F122E;
	background-image: url(../images/icons/icon-arrow-right-small-light.svg);
	background-repeat: no-repeat;
	background-position: 93% 50%;
	background-size: 20px;

	&:hover {
		color: #F4F4F5;
		background-color: #080A1B;
		background-position: 95% 50%;
	}

}