/*----------------------------------------*\
  List
\*----------------------------------------*/

.list {
  padding: 0;
}

.list--nav {
  @extend .list;
  margin: 0;
}

  .list--nav__item {
    list-style-type: none;
    display: inline-block;
    font-size: 1.2rem;

    &.is-active {
      padding-bottom: 5px;
      border-bottom: 2px solid rgb(6,69,173);
    }

  }

.list--posts {
  @extend .list;
}

  .list--posts__item {
    list-style-type: none;
    @extend .mb;

    &:last-of-type {
      margin-bottom: 0 !important;
    }

  }
