/*----------------------------------------*\
  Pagination
\*----------------------------------------*/

.pagination {

	&__item {

		&--prev {

			.sub-text {
				position: relative;
				left: 20px;
			}

		}

	}

	.text {
		display: block;
	}

	.sub-text {
		display: block;
	}

	@media (max-width: 700px) {
		margin-bottom: 0 !important;
	}

}