/*----------------------------------------*\
  Project
\*----------------------------------------*/

.project-title {
	font-weight: 800;
}

.narrow {
	max-width: 800px;
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

.project-content {

	// Headings
	h1 {
		@extend .heading--bravo
	}

	h2 {
		font-family: $font-family-bravo;
  		padding: 60px 0 20px 0;
		font-size: 2.6rem;
		font-weight: 500;
		line-height: 120%;
		letter-spacing: -1.2px;
		color: #1A202C;
	}

	h3 {
		font-size: 1.6rem;
		font-weight: 700;
	 	color: #1B202B;
		margin: ($spacing-base * 2) auto $spacing-base auto;
	}

	p {

		&:first-child,
		&:nth-child(2) {
			// @extend .text-center;
		
			img {
				// max-width: 75%;
				// margin-top: $spacing-base;
				// margin-bottom: ($spacing-base * 2);
				box-shadow: none;
				border: none;
			}

		}

	}

	// Image
	img {
		position: relative;
		max-width: 100%;
		// width: 1000px;
		margin: $spacing-base 0;
		box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
		box-shadow: 0 4px 6px rgba(0, 0, 0, 6%);
		border-radius: 8px;
		border: 1px solid #EBEBEB;

		@media (max-width: 700px) {
			left: 0 !important;
			width: 100% !important;
			height: auto;
		}

	}

	video {

		@media (max-width: 700px) {
			width: 100% !important;
			height: auto;
		}

	}

}

// Project List

.projects {

	&__item {
		position: relative;
		z-index: 0;
		float: left;
		width: 290px;
		height: 290px;
		margin-bottom: 20px;
		background-color: #f6f7fa;
		background-repeat: no-repeat;
		transition: all 0.3s ease;
		-webkit-transition: all 0.3s ease;

		&:after {
			content: "";
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			background: rgba(0,0,0,0);
			transition: all 0.3s ease;
			-webkit-transition: all 0.3s ease;
		}

		&:hover {
			// background-size: 830px;

			&:after {
				background: rgba(0,0,0,0.05);
			}

		}

		&.soon {
			
			&:after {
				z-index: 1;
				background: rgba(0,0,0,0.75);
			}

		}

		@media (max-width: 700px) {
			height: 250px;
			width: 100%;
			float: none;
			margin-bottom: 20px;
		}

		&:first-of-type {
			@extend .projects__item;
			// height: 600px;
			margin-right: 20px;

			@media (max-width: 700px) {
				height: 250px;
			}
		}

		&:nth-of-type(3) {
			@extend .projects__item;
			margin-right: 20px;
		}

		&:nth-of-type(4) {
			@extend .projects__item;
			// width: 600px;
			// height: 250px;

			@media (max-width: 700px) {
				height: 250px;
				width: 100%;
			}
		}

		&:nth-of-type(5) {
			@extend .projects__item;
			margin-right: 20px;

			@media (max-width: 700px) {
				height: 250px;
				width: 100%;
			}
		}

	}

	&__soon {
		position: absolute;
		z-index: 2;
		top: 46%;
		left: 0;
		width: 100%;
		color: #ffffff;
		text-align: center;
		font-size: 0.8rem;
		letter-spacing: 0.1rem;
		text-transform: uppercase;
		font-weight: 600;
	}

	&__link {
		display: inline-block;
		position: relative;
		z-index: 1;
		width: 100%;
		height: 100%;
		border-bottom: none !important;

		&:hover {
			border-bottom: none !important;
		}

	}

	&__name {
		position: absolute;
		top: 20px;
		left: 20px;
		margin-bottom: 0;
		font-size: 1.4rem;
		font-weight: 400;
	}
	
}

// project specific media queries

.projects__item.traveljunction {
	background-position: 20px 90%;

	@media (max-width: 700px) {
		background-position: 120px 20px;
	}
}

.projects__item.papertrail {
	background-position: 20px 90%;

	@media (max-width: 700px) {
		background-position: 20px 100px;
	}
}