---
layout: default
---

<div>
	<div class="container--bravo">
    <div>

      <div class="single-content">

        <article class="post article" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="article__header narrow">
            <h2 class="heading--alpha" itemprop="name headline">{{ page.title }}</h2>
            <span class="sub-text">
              <p>{{ page.summary }}</p>
            </span>
            <div class="author">
              <div class="author__photo"></div>
              <div class="author__meta">
                <span class="author__meta__name">By Tim Gale</span>
              </div>
            </div>
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

          <div class="author-bio narrow">
            <div class="author-bio__photo"></div>
            <div class="author-bio__intro">
              <h3>About Tim Gale</h3>
            </div>
            <div class="author-bio__details">
              <p>Tim has over 12 years experience delivering high quality products with SaaS businesses. Tim has improved the user experience of products for companies including Sky, UK Retreats, Student Loans Company and Magnite.</p>
            </div>
          </div>

        </article>

      </div>

    </div>
  </div>
</div>

<!-- Satisfied Clients -->
<div id="testimonials" class="row-layout client-quotes">
  <div class="row-layout-content">
    <div class="row-layout__intro">
      <h2 class="heading--bravo">Satisfied Clients</h2>
    </div>

    <div class="client-quotes__content">
      <div class="quote--charlie">
        <p><span class="quote-mark">“</span>The quality of Tim's work and his communication with us has always been great, and we have never hesitated to get him involved in a project.<span class="quote-mark">”</span></p>
        <div class="client">
          <div class="photo quote-2"></div>
          <div class="client-meta">
            <span class="name">Rob Walker</span>
            <span class="title">CTO of papertrail.io</span>
          </div>
        </div>
      </div>
      <div class="quote--charlie">
        <p><span class="quote-mark">“</span>Tim ran UX for Paid, and is great at working with clients, running workshops and communicating his ideas to the team. His UX is always on point.<span class="quote-mark">”</span></p>
        <div class="client">
          <div class="photo quote-3"></div>
          <div class="client-meta">
            <span class="name">Tow Howsam</span>
            <span class="title">Founder of paid.co.uk</span>
          </div>
        </div>
      </div>
      <div class="quote--charlie">
        <p><span class="quote-mark">“</span>Tim has a remarkable level of thoughtfulness and empathy in his approach to design. He showcases a strong growth mindset that will benefit any client that is focused on crafting exceptional customer experiences.<span class="quote-mark">”</span></p>
        <div class="client">
          <div class="photo quote-4"></div>
          <div class="client-meta">
            <span class="name">Chris Compston</span>
            <span class="title">Product Ops Leader</span>
          </div>
        </div>
      </div>
      <div class="quote--charlie">
        <p><span class="quote-mark">“</span>Tim has a remarkable level of thoughtfulness and empathy in his approach to design. He showcases a strong growth mindset that will benefit any client that is focused on crafting exceptional customer experiences.<span class="quote-mark">”</span></p>
        <div class="client">
          <div class="photo quote-5"></div>
          <div class="client-meta">
            <span class="name">Lewis Morris</span>
            <span class="title">Founder of middlesbroughfe.co.uk</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /Satisfied Clients -->

<!-- CTA -->
<div id="lets-talk" class="lower-third lower-cta">
  <div class="lower-third__content">
    <div class="lower-cta__main">
      <div class="copy">
        <h2>Transform your SaaS business with a proven design partner</h2>
          <p>Book your free discovery call today and let's talk about how I can help you reach your product goals.</p>
        </div>
        <div>
          <a class="button-primary" href="/discovery-call">Book Your Discovery Call</a>
        </div>
    </div>
  </div>
</div>
<!-- /CTA -->
