---
layout: default
---

<div>
	<div class="container--bravo">
    <div>

      <div class="single-content">

        <!-- Breadcrumb -->
        <!-- <div class="breadcrumb">
          <a class="previous" href="/blog">Blog</a>
          <span class="divider">/</span>
          <span class="current">{{ page.title }}</span></span>
        </div> -->
        <!-- /Breadcrumb -->

        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">

          <header class="mb--double">
            <h2 class="heading--alpha narrow" itemprop="name headline">{{ page.title }}</h2>
            <!-- <span class="sub-text">
              <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
            </span> -->
          </header>

          <div class="post-content" itemprop="articleBody">
            {{ content }}
          </div>

        </article>

        <!-- pagination -->
        <!-- <div class="pagination mb--double">
          <div class="pagination__item--prev fl">
            
              {% if page.previous != nil %}
                {% if page.title == 'Designing for Internal Users' %}
                  <a href="/2016/06/01/listening">
                    <span class="text mb--quarter">&#8592; Previous Post</span>
                    <span class="sub-text">Listening</span>
                  </a>
                {% else %}
                <a href="{{ page.previous.url }}">
                  <span class="text mb--quarter">&#8592; Previous Post</span>
                  <span class="sub-text">{{ page.previous.title }}</span>
                </a>
                {% endif %}
            {% endif %}
          </div>
          <div class="pagination__item--next fr">

            {% if page.next != nil %}
              {% if page.title == 'Listening' %}
                <a href="/2017/12/19/designing-for-internal-users">
                  <span class="text mb--quarter">Next Post &#8594;</span>
                  <span class="sub-text">Designing for Internal Users</span>
                </a>
              {% else %}
                <a href="{{ page.next.url }}">
                  <span class="text mb--quarter">Next Post &#8594;</span>
                  <span class="sub-text">{{ page.next.title }}</span>
                </a>
              {% endif %}
            {% endif %}
            
          </div>
        </div> -->
        <!-- /pagination -->

      </div>

    </div>
  </div>
</div>

<!-- Satisfied Clients -->
<div id="testimonials" class="row-layout client-quotes">
  <div class="row-layout-content">
    <div class="row-layout__intro">
      <h2 class="heading--bravo">Satisfied Clients</h2>
    </div>

    <div class="client-quotes__content">
      <div class="quote--charlie">
        <p><span class="quote-mark">“</span>The quality of Tim's work and his communication with us has always been great, and we have never hesitated to get him involved in a project.<span class="quote-mark">”</span></p>
        <div class="client">
          <div class="photo quote-2"></div>
          <div class="client-meta">
            <span class="name">Rob Walker</span>
            <span class="title">CTO of papertrail.io</span>
          </div>
        </div>
      </div>
      <div class="quote--charlie">
        <p><span class="quote-mark">“</span>Tim ran UX for Paid, and is great at working with clients, running workshops and communicating his ideas to the team. His UX is always on point.<span class="quote-mark">”</span></p>
        <div class="client">
          <div class="photo quote-3"></div>
          <div class="client-meta">
            <span class="name">Tow Howsam</span>
            <span class="title">Founder of paid.co.uk</span>
          </div>
        </div>
      </div>
      <div class="quote--charlie">
        <p><span class="quote-mark">“</span>Tim has a remarkable level of thoughtfulness and empathy in his approach to design. He showcases a strong growth mindset that will benefit any client that is focused on crafting exceptional customer experiences.<span class="quote-mark">”</span></p>
        <div class="client">
          <div class="photo quote-4"></div>
          <div class="client-meta">
            <span class="name">Chris Compston</span>
            <span class="title">Product Ops Leader</span>
          </div>
        </div>
      </div>
      <div class="quote--charlie">
        <p><span class="quote-mark">“</span>Tim has a remarkable level of thoughtfulness and empathy in his approach to design. He showcases a strong growth mindset that will benefit any client that is focused on crafting exceptional customer experiences.<span class="quote-mark">”</span></p>
        <div class="client">
          <div class="photo quote-5"></div>
          <div class="client-meta">
            <span class="name">Lewis Morris</span>
            <span class="title">Founder of middlesbroughfe.co.uk</span>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>
<!-- /Satisfied Clients -->

<!-- CTA -->
<div id="lets-talk" class="lower-third lower-cta">
  <div class="lower-third__content">
    <div class="lower-cta__main">
      <div class="copy">
        <h2>Transform your SaaS business with a proven design partner</h2>
          <p>Book your free discovery call today and let's talk about how I can help you reach your product goals.</p>
        </div>
        <div>
          <a class="button-primary" href="/discovery-call">Let's Talk</a>
        </div>
    </div>
  </div>
</div>
<!-- /CTA -->
