---
layout: default
---

<div class="mb--double">
	<div class="container--alpha">
    <div class="pb--double">

      <article class="post mb--double" itemscope itemtype="http://schema.org/BlogPosting">

        <header class="mb--double">
          <h2 class="heading--bravo mb--quarter" itemprop="name headline">{{ page.title }}</h2>
          <span class="sub-text">
						<time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}
					</span>
        </header>

        <div class="post-content" itemprop="articleBody">
          {{ content }}
        </div>

      </article>

      <!-- pagination -->
      <div class="pagination mb--double">
        <div class="pagination__item--prev fl">
          
            {% if page.previous != nil %}
              {% if page.title == 'Moving in with the User' %}
                <a href="/2016/06/01/listening">
                  <span class="text mb--quarter">&#8592; Previous Post</span>
                  <span class="sub-text">Listening</span>
                </a>
              {% else %}
              <a href="{{ page.previous.url }}">
                <span class="text mb--quarter">&#8592; Previous Post</span>
                <span class="sub-text">{{ page.previous.title }}</span>
              </a>
              {% endif %}
          {% endif %}
        </div>
        <div class="pagination__item--next fr">

          {% if page.next != nil %}
            {% if page.title == 'Listening' %}
              <a href="/2017/12/19/moving-in-with-the-user">
                <span class="text mb--quarter">Next Post &#8594;</span>
                <span class="sub-text">Moving in with the User</span>
              </a>
            {% else %}
              <a href="{{ page.next.url }}">
                <span class="text mb--quarter">Next Post &#8594;</span>
                <span class="sub-text">{{ page.next.title }}</span>
              </a>
            {% endif %}
          {% endif %}
          
        </div>
      </div>
      <!-- /pagination -->

    </div>
  </div>
</div>