/*----------------------------------------*\
  Defaults
\*----------------------------------------*/

html {
  scroll-behavior: smooth;
}

// Typography
@font-face {
font-family: "hk-grotesk-regular";
src: url("/fonts/hkgrotesk-regular.eot"),
	 url('/fonts/hkgrotesk-regular.woff2') format('woff2'),
     url('/fonts/hkgrotesk-regular.woff') format('woff'),
	 url("/fonts/hkgrotesk-regular.otf") format("opentype");
}

@font-face {
font-family: "hk-grotesk-semi-bold";
src: url("/fonts/hkgrotesk-semibold.eot"),
	 url('/fonts/hkgrotesk-semibold.woff2') format('woff2'),
     url('/fonts/hkgrotesk-semibold.woff') format('woff'),
	 url("/fonts/hkgrotesk-semibold.otf") format("opentype");
}

$font-family-alpha: "DM Sans", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
// $font-family-alpha: "hk-grotesk-regular", "franklin-gothic-urw", "Helvetica Nueue", Helvetica, sans-serif;
// $font-family-bravo: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
$font-family-bravo: "DM Sans", inter, sans-serif;
// $font-family-bravo: "hk-grotesk-semi-bold", "franklin-gothic-urw", "Helvetica Nueue", Helvetica, sans-serif;
$font-family-charlie: "freight-text-pro", Georgia, serif;
$font-size-base:   17px;
$line-height-base: 32px;

// Spacing
$spacing-base: $line-height-base;

// Body
body {
  // padding: ($spacing-base * 2) 0;
  margin: 0;
  font-family: $font-family-alpha;
  // color: #444444;
  color: #2f3747;
}

// Avatar
.avatar {
  border-radius: 100px;
}